---
- name: playbook to install nginx and start
  hosts: local
  tasks:
    - name: install nginx
      ansible.builtin.package:
         name: nginx
         state: present

    - name: start nginx
      ansible.builtin.service:
        name: nginx
        enabled: true
        state: started